*{
    margin: 0;
    padding: 0;
}
/* general */
body{
    background-color: rgba(26, 23, 23);
}
h1{
    text-align: center;
    color: white;
}
h2{
    margin-block: 16px;
    text-align: center;
    color: white;
}
.board{
    height: 540px;
    width: 630px;
    background-color: rgb(41, 76, 180);
    border-radius: 5%;
    border: 10px solid rgb(41, 76, 180);
    position: relative;
    margin-block: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;

}
.circle{
    background-color: rgb(45, 45, 72);
    border-radius: 50%;
    border: 1px solid rgb(45, 45, 72);
    height: 70px;
    width: 70px;
    margin: 9px;
}
.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}